:root {
    --main-header-color: #173F5F;
    --main-light-color: #3CAEA3; 
    --highlight-color: #F6D55C;
    --orange-color: #f4a261;
    --red-color: #e76f51;
    --blue-color: #264653;
    --green-color: #2a9d8f;
    --yellow-color: #e9c46a;
}

* {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: "Arial", monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}


.topNav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: var(--main-header-color);
    overflow-x: hidden;
    transition: 0.5s;
    display: inline-flex;
    margin: 0; 
    padding: 0;
}

.page-links {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100%;
    padding: 1.5rem 0;
    margin: 0;
    text-align: center;
}

.topNav a {
    text-decoration: none;
    color: var(--yellow-color);
    display: block;
    transition: 0.5s;
}v

.topNav a:hover {
    color: var(--red-color)
}

.closebtn {
    top: 3px;
    font-size: 3rem;
    position: absolute;
    right: 15px;
}


.logo {
    width: 70px;
    height: 50px;
    opacity: 1;
    transition: 0.2s;
    z-index: 1;
    top: 0;
    left: 0;
}

#nav-bar {
    opacity: 1;
    width: 100%;
    transition: 0.5s;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    position: sticky;
    padding: 0;
    top: 0;
    background: var(--main-header-color);
    margin: 0;
    z-index: 2;
}

.nav-bar span {
    font-size: 2.1rem;
    color: var(--yellow-color);
    padding: 5px 15px;
}

.nav-bar span:hover {
    cursor: pointer;
}


/* all nav-bar, menu, close, hamburger dropdown ---  below is out */

/*



.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: var(--main-header-color);
    padding: 5px;
    z-index: 1000;
}

.nav-bar a {
    text-decoration: none;
}

#close, #menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#close {
    visibility: hidden;;
}

#close:hover {
    color: var(--main-light-color)
}


#hamburger-dropdown {
    display: none;
    position: absolute;
    background: var(--main-header-color);
    right: 0;
    top: 0;
    margin-top: 55px;
    height: fit-content;
    list-style-type: none;
    font-size: large;
    width: 100%;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
}



#hamburger-dropdown li{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger-dropdown li:hover{
    background: var(--main-light-color)
}

#hamburger-dropdown a{
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.hamburger-icon {
    font-size: 25px;
    color: white;
    z-index: 100;
    margin-right: 10px;
}

*/




.main-header h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    color: var(--main-header-color);
}

#headers {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side-header {
    color: var(--main-header-color);
    margin-right: 50px;
}

#headers h1{
    font-size: 2.5rem;
}

#headers p {
    font-size: 1.2rem;
    color: var(--main-header-color);
}

.right-side-header {
    align-items: center;
    justify-content: center;
}

#picture {
    width: 250px;
    margin: 0 0 25px 0;
    border-radius: 25%;
}

#landscape {
    width: 80%;
    object-fit: cover;
    max-height: 400px;
    max-width: 800px;
    margin: 20px;
    border-radius: 5px;
}

/* this let's me center the intro */

#written-intro-center {
    display: flex;
    justify-content: center;
    background-color: var(--main-header-color);
    padding: 5vh 0;
    width: 100%;
}

#introduction {
    color: white;
    width: 80%;
    max-width: 850px;
}

#written-intro-center h1 {
    text-align: center;
}

#introduction h2 {
    padding-top: 50px;
    font-size: 25px;
}

.intro {
    padding: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
}


/* typewriter css */
/*
.typewriter {
    overflow: hidden;
    display: inline-block;
    border-right: .1em solid var(--main-header-color);
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 2.5s steps(17, end),
        blink-caret .55s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 6.2em}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: var(--main-header-color)}
}
*/


/* Designer, Front-end Developer, Data Analyst */
.icons {
    font-size: 65px; 
    color: var(--main-header-color);
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.grid-layout {
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    height: fit-content;
    width: 90%;
    padding: 0 10px 0 10px;
    font-size: large;
    align-items: top;
}

.info a {
    color: black;
    text-decoration: none;
}

.info .icon {
    margin-left: 5px;
    font-size: 1rem;
    color: var(--main-light-color)
}


.bold {
    text-align: center;
    font-weight: bold;
    color: var(--main-header-color)
}

#recent_work {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
}

#recent_header {
    color: var(--main-header-color);
    margin-bottom: 0;
}

.work_intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.work_intro p {
    width: 85%;
}

.email {
    text-decoration: none;
}

.project-container p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.project-title {
    color: var(--main-header-color);
    font-weight: bolder;
}

.project-container img {
    margin-bottom: 5px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border: 2px solid var(--main-header-color);
    border-radius: 5px;
    width: 300px;
    height: 250px;
    image-orientation: center center;
    object-fit: contain;
    background-color: var(--main-header-color);
    margin: 10px 20px 10px 20px;
}

.project:hover {
    box-shadow: 0 0 8px 2px var(--blue-color);
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    transform: scale(1.05);
}

.kaggle-codepen-btns {
    margin: 35px;
}


.kaggle {
    font-size: 1.1rem;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 2px solid var(--main-header-color);
    border-radius: 12px;
    margin: 25px
}

.kaggle:hover {
    color: white;
    background: var(--main-header-color);
}







/* Contact Container and details */
#contact-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: whitesmoke;
    border: 1px solid var(--main-header-color);
    color: var(--main-header-color);
    padding: 15px;
    border-radius: 15px;
    margin: 50px auto;
    justify-content: center;
}

#contact-directions {
    margin: 0 15px 25px 15px ;
    font-size: 1rem;
}

#contact-title {
    margin: 0 0 5px 0;
    text-align: center;
}

.btn, .input {
    height: 30px;
}

.input, #message {
    padding: 0 0 0 5px;
    margin: 0 0 15px 0;
    font-family: Arial;
    border: 1px solid rgba(106, 90, 205, 0.5);
    border-radius: 2px;
}


#message {
    resize: none;
    padding-top: 5px;
}

.btn {
    background-color: var(--main-header-color);
    border: none;
    border-radius: 25px;
    color: white;
    width: 50%;
    align-self: center;
    font-weight: bold;
}

.btn:hover {
    color: black;
    border: 1px solid var(--main-header-color);
    background-color: white;
}







/* This is the footer to end the day */
.footer {
    background: var(--main-header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    position: relative;
    padding: 0 25px;
}

.footer_container {
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_container h3 {
    text-align: center;
    padding: 25px
}

.email {
    color: var(--main-light-color)
}

.small-icon {
    color: whitesmoke;
    font-size: 50px;
    margin: 15px;
}

.small-icon:hover {
    color: var(--main-light-color);
    transform: scale(1.);
}

@media only screen and (max-width: 700px) {
    #introduction {
        text-align: center;
        background-color: var(--main-header-color);
        color: white;
        width: 100%;
        line-height: 1.4rem;   
    }
    
    #introduction h2 {
        padding-top: 1rem;
        font-size: 1.2rem;
    }

    #headers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #main-header h1 {
        font-size: 1.5rem;
    }

    .left-side-header {
        color: var(--main-header-color);
        margin: auto;
    }
    
    .grid {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .grid-layout {
        width: 80%;
        font-size: 1.2rem;
        margin: 20px 5px;
    }

    .projects {
        width: 100%;
    }

    .project-container {
        width: 100%;
    }

    .project {
        width: 90%;
        height: 50vh;
        margin: 25px 0 25px 0;
    }

    .footer {
        font-size: 1rem;
        flex-direction: column;
        width: 100%;
        padding: 0;

    }

    .social {
       width: 100%;
       display: inline-flex;
       justify-content: space-evenly;
    }

    #contact-container {
        max-width: 80vw;
        margin: 5px 0;
    }

}

@media only screen and (max-width: 500px) {
    #picture {
        width: 200px;
        object-fit: cover;
    }
    
    .project {
        height: 30vh;
    }

    .kaggle {
        margin: 5px;
    }
}
